<form method="post" action="/createBookViewPOST">
    <label for="Category_name">Category Name:</label>
    <input type="text" name="Category_name" id="Category_name" >
    <label for="Publisher_name">Publisher Name:</label>
    <input type="text" name="Publisher_name" id="Publisher_name" >
    <label for="Numof_copies">Numof Copies:</label>
    <input type="number" name="Numof_copies" id="Numof_copies" >
    <label for="Book_title">Book Title:</label>
    <input type="text" name="Book_title" id="Book_title" >
    <label for="Pub_year">Pub Year:</label>
    <input type="number" name="Pub_year" id="Pub_year" >
    <label for="Book_author">Book Author:</label>
    <input type="text" name="Book_author" id="Book_author" >
    <button type="submit">Submit</button>
    
  </form>